<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="site-main">
        <%- include('../includes/navbar') %>
        <div class="main-content">
            <div class="tab">
                <div class="tab-header">
                    <%- title %>
                </div>
                <div class="tab-body">
                    <%- content %>
                    <hr style="border: 1px solid silver; border-radius: 3px;">
                    Posted: <%- date %>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>