<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExoTheWicker's Blog - Home</title>
</head>
<body>
    <div class="site-main">
        <%- include('../includes/navbar') %>
        <div class="main-content">
            <div class="tab">
                <div class="tab-header">
                    <img src="/img/icons/win98/channels-0.png"> <b>Exo's Blog Articles</b>
                </div>
                <div class="tab-body">
                    <% articles.forEach(article => {
                        %>
                        
                        <div class="blog-article">
                            <a href="/blog/<%- article.ID%>">
                                <article>
                                    <div class="article-title">
                                        <%- article.title%>
                                    </div>
                                </article>
                            </a>
                        </div>
                        
                        <%
                        
                    }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>