<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExoTheWicker Public Files</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <div class="site-main">
        <div class="main-content">
            <div class="tab">
                <div class="tab-header">
                    <img class="icon" src="/img/icons/win98/directory_open_cool-2.png">
                    A
                </div>
                <input type="text" placeholder="{directory}">
                <hr style="color: gray; border: 1px solid silver; border-radius: 2px;">
                {files}
            </div>
        </div>
    </div>

    
</body>
</html>