<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/boxicons.min.css">
</head>
<body>
    <%- include('includes/navbar') %>
    <center>
        <a href="https://discord.com/users/493228766949146651"><i class='bx bxl-discord'></i>My Discord</a>
        <a href="https://x.com/exothewicker"><i class='bx bxl-twitter'></i>My Twitter</a>
        <a href="https://x.com/exothewickerad"><i class='bx bxl-twitter'></i>My "Other" Twitter</a>
        <a href="https://bsky.app/profile/exothewicker.bsky.social"><i class='bx bxs-cloud'></i>My Bluesky</a>
        <a href="https://bsky.app/profile/exothewickerad.bsky.social"><i class='bx bxs-cloud'></i>My "Other" Bluesky</a>
        <a href="https://t.me/ExoTheWicker"><i class='bx bxl-telegram'></i>My Telegram</a>
        <a href="https://www.youtube.com/channel/UCNTPHBsWNn84SOs_LVlOT6w"><i class='bx bxl-youtube'></i>My YouTube</a>
        <a href="https://www.twitch.tv/exothewicker"><i class='bx bxl-discord'></i>My Twitch</a>
    </center>

    
</body>
</html>