<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In loving memory of Liny a.k.a The Bacon Fox</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('includes/navbar') %>
    This page is written in memory of a good friend of mine and a prominent member of the Resonite community.

    <p>On March 15th, 2024 a good friend of mine and a very prominent member of the Resonite community sadly passed away.
        He was a very active on Resonite and will be deeply missed... He often wore a pink fox avatar that had a piece of bacon on it's nose that could be taken.
        He was known as the bacon fox because of this. He was also know for being a very kind and cheerful person to be around and always lit up whatever session he was in.
    </p>

    <p>
        I will remeber him for being one of the first people I met when I first joined the Resonite community back in July of 2022.
        He welcomed me into the community with open arms and over time became more than just a friend to me I started seeing him as a brother. I would often come up with dumb ideas
        and he would back up my idea and we would both have a good laugh when it blew up in my face.
    </p>
    <p>
        I'm gonna miss making those moments with him I'm going to miss seeing him in just about every session I visit. I never knew how short our time together would end up being. But I am glad for 
        every second I did get to share with him.
    </p>
    <p>
        One of the communities he was a staff member in, USFN hosted a memorial world for about a week where users could add items and notes which would later be shown to Liny's family.

        Bellow are some Images, Notes and soundclips of Liny's memorial world and time on Resonite.
    </p>
    <center><p style="color: red">COMING SOON...</p></center>
</body>
</html>