<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error: 404!</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <center>
        Uh oh! The page your trying to acess cannot be found!

        <p>Click <a href="/">HERE</a> to return home.</p>
    </center>
</body>
</html>