<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
   <center>
    <div class="tab">
        <div class="tab-header">
            <img src="/img/icons/win98/msg_error-0.png"> <b>Error!</b>
        </div>
        <div class="tab-body">
            <h1>Error 500!</h1>
            <p>The server has encountered an general error.</p>
            <p>Please try again later.</p>
            <p>Click <a href="/">HERE</a> to return home.</p>
        </div>
    </div>
   </center> 
</body>
</html>