<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ExoTheWicker</title>
    <link rel="stylesheet" href="../assets/css/main.css">

</head>
        <div class="side-nav">
            <h1>Links:</h1>
            <% Object.keys(groupedLinks).forEach((category) => { %>
                <h2><%= category %></h2>
                <ul>
                <% groupedLinks[category].forEach((link) => { %>
                    <li><a href="<%= link.url %>"><%= link.title %></a></li>
                <% }); %>
                </ul>
            <% }); %>
        </div>
        <div class="main-content">
    
            <h1>Welcome to my website!</h1>

            <p><img src="./assets/img/exo.jpg" width="256px" height="256px"><p>
            <div class="site-about">
                <p>Hello, and welcome to my website!</p>
                





    <p><img src="../assets/img/exo-public.jpg" alt="Copy Text" onclick="copyText()" height=64px width="auto"></p>


            </div>
        </div>
    </body>
    <script>
        function copyText() {
            // Select the text you want to copy
            var textToCopy = "resrec:///U-OxeTheProtogen/R-71A05B47C5E9AA2478B6CB39C742F713D20B66264B5DC3CC81724FBDF37A33A1";

            // Create a textarea element to hold the text temporarily
            var tempTextArea = document.createElement("textarea");
            tempTextArea.value = textToCopy;

            // Append the textarea to the document
            document.body.appendChild(tempTextArea);

            // Select the text in the textarea and copy it to the clipboard
            tempTextArea.select();
            document.execCommand("copy");

            // Remove the temporary textarea
            document.body.removeChild(tempTextArea);

            // Provide some visual feedback to the user
            alert("Text copied to clipboard: " + textToCopy);
        }
    </script>
</html>