<!DOCTYPE html>
<html>
    <head>
        <title>Neos - ExoTheWicker</title>
        <link rel="stylesheet" href="../assets/css/main.css">
        <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main-content">
        <p>This page is in memory of my time spent on NeosVR.</p>
        <p><b>Final Neos Playtime: 1,300 Hours</b></p>
        <p>I first joined Neos on July 27th, 2022, shortly after VRChat announced that they were going to add the anti-cheat EAC to the game.</p>
        <p>Making the decision to leave VRC and move to Neos is one of the best decisions I have ever made.</p>
        <p>The community behind Neos was very welcoming and helpful on my first days on the platform. I will forever be grateful for the loving community and I look forward to the community that will be made in Resonite.</p>
        <p>Here are some of my favorite memories from Neos</p>
        <hr>
        <center>
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/qISDxziRLqk" title="Goodbye Neos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </center>
        </div>
    </body>
</html>
