<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resonite - ExoTheWicker</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <div class="nav-sidebar">
        <h1>Links:</h1>

    
<% Object.keys(groupedLinks).forEach((category) => { %>
<h2><%= category %></h2>
<ul>
  <% groupedLinks[category].forEach((link) => { %>
    <li><a href="<%= link.url %>"><%= link.title %></a></li>
  <% }); %>
</ul>
<% }); %>
    </div>
    <div class="main-content">
    <p>On September 21st, 2023 the Neos community finally got the answer we were looking for, we got the confirmation that the Neos team
        had decided to leave Neos / Solarax to work with Yellow Dog Man Studios on their new project Resonite. Words cannot describe the
        wave of emotions that hit me like a bus when I saw the announcement on the old Neos Discord server. It was a joyous day knowing 
        that I / We were finally free from Karel’s grasp for power, but it was also a sad moment knowing that my friends and I would be
         leaving the place I’ve called home for over a year. Leaving the same place where I made said friend and our memories.</p>

        <p>When I hopped on Neos I was not expecting to see the community start to come back to life I’ve seen some friends who I thought 
            have moved on from Neos. Seeing all the player come out of their private worlds and join all the various “Goodbye Neos Worlds”. 
            It brought me to tears hearing people share the memories that were made in Neos. It took about three days of us waiting for 
            the team to announce the existence of resonite but after the Discord was discovered We started hosting worlds and streams 
            for the last time in Neos before we went to our new home.</p>

            <p>Here are some screenshots from after the announcement that the team was moving on from Neos was made:</p>







<p>When It was discovered that patrons of Resonite could receive early access to the game I just started waiting and watching other people stream resonite into various discords.

When I received my code I about fell out of my chair and dropped everything to boot up the game for the first time to see my new home in person and all I can say is that I had to wipe the tears of joy off of my headset. Even before launch the average player count was well above 250 players! Which was a very emotional thing to see. Unfortunately, I didn’t get that much time In Resonite before I moved and sold my Headset to my new roommate for rent (Not that I would have a computer that could run VR anyway.) but I did somehow convince my laptop to boot up resonite so I could say “I was here” on the launch day for Resonite.


<p>As of writing this, it’s been a little over a month since resonite was released and it’s amazing seeing the community thriving how it is. Now I know what it must’ve felt like in Neos before the development strike. The dozens of posts in the “User Creations channels” each day and the hundreds of messages a day from new and old users asking for help on little things like “How do I make a button on my avatar” to “Why does the game crash in my remake of DOOM with crash when I do this?”. To whatever Resonite player might be reading this all I can say is</p> 
    <b>NEVER STOP CREATING!</b> 

<p>And to the Resonite team Thank you for fighting for us and what you’re patinate for. I cannot express how much Neos / Resonite has changed my life.</p>

</div>
</body>
</html>