@font-face {
    font-family: 'modern_dos_8x16regular';
    src: url('/fonts/moderndos8x16-webfont.woff2') format('woff2'),
         url('/fonts/moderndos8x16-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body{
    background-color: black;
    color: lime;
    font-size: large;
    font-family: 'modern_dos_8x16regular';
}
.site-main{
    display: flex;
}
.main-content{
    float: left;
    width: 100rem;
    padding-left: 15px;
    justify-content: center;
}

a{
    color:blue
}
a:hover{
    color:white
}

.hover:hover{
    color:white
}
.btn{
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
    justify-content: center;
    padding: 0 0 4px;
    border-radius: 1px;
    min-width: 100px;
}
.tab{
    border: 1px solid white;
    border-style: outset;
    background-color: gray;
    min-height: 50px; 
    min-width: 250px;
    max-width: fit-content;
    padding-top: 0px;
    height: fit-content;
    overflow: auto;

}
.tab-header {
    background-color: blue;
    min-height: 1rem;
    height: fit-content;
    color: white;
    text-indent: 5px;
    min-width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: left; 
  }

  .tab-body{
    max-height: fit-content;
    overflow: auto;
    max-height: 75vh;
  }
  .card-header.icon{
    padding-left: 4px;
}