<style>
  .navbar{
    border: 5px solid;
      border-color: gray;
      width: fit-content;
      height: fit-content;
      padding-bottom: 20px;
  }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

    }
    
    li a {
      display: block;
      width: auto;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <div class="tab">
      <div class="tab-header">
        <img src="/img/icons/win98/world-0.png">
        <b>Site navigation</b>
      </div>
        <ul>
            <li><a href="/"><img src="/img/icons/win98/homepage-0.png" height="24px"> Home</a></li>
            <li><a href="/liny"><img src="/img/icons/other/mc_heart.png" height="24px"> In memory of Liny</a></li>
            <li><a href="/blog"><img src="/img/icons/win98/channels-0.png" height="24px"> Blog</a></li>
            <li><a href="/links"><img src="/img/icons/win98/world-0.png" height="24px"> Social Links</a></li>
            <li><a href="/nsfw_info"><img src="/img/icons/win98/msg_warning-0.png" height="24px"> NSFW_info</a></li>
        </ul>
    </div>
