<style>
  .navbar{
    border: 5px solid;
      border-color: gray;
      width: 175px;
      height: fit-content;
      padding-bottom: 20px;
  }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

    }
    
    li a {
      display: block;
      width: auto;
    }
    </style>
<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/liny">In memory of Liny</a></li>
        <li><a href="/nsfw_info">NSFW_info</a></li>
    </ul>
</div>